hadoop_datanode2/
hadoop_namenode/
postgres_data/
hadoop_datanode1/
hdfs_data/
grafana_data/
.venv/
GeoLite2-City.mmdb
.env
agents/*.sh
models/*gguf
spark-jars/*.jar
spark-scripts/__pycache__/
kafka-connect-plugins/
agents/__pycache__/
agents/*.log
pgadmin_data/
instance/
app/__pycache__/